echo "Checking Submodules..."
git submodule update --init --recursive

git submodule update --remote --merge

git submodule foreach "git checkout main"

git submodule foreach "git push origin main || true"

git submodule foreach "git pull origin main"

cargo check --workspace
